.App {
    background-color: #F2F2F2;
}
.App-footer {
    width: 100%;
    background-color: #F2F2F2;
    border-top: 1px solid #D3D3D3;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
}

.App-footer p{
    font-size: 18px;
    margin: 12px auto;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
}
.App-footer h6{
    font-size: 20px;
    margin: 0;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #939CDE 4.27%, #5B67C1 88.43%);
    font-weight: 400;
}
.logo-footer-img{
    width: 125px;
}
.privacy-policy-link{
    text-decoration: none;
}

